@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  animation: animation 20s linear infinite;
  margin: 0 5px;
}

@keyframes animation {
  0% {
    background-color: rgb(255, 0, 0);
  }

  5% {
    background-color: rgb(255, 81, 0);
  }

  10% {
    background-color: rgb(255, 137, 1);
  }

  15% {
    background-color: rgb(255, 174, 0);
  }

  20% {
    background-color: rgb(255, 230, 0);
  }

  25% {
    background-color: rgb(209, 255, 4);
  }

  30% {
    background-color: rgb(124, 255, 1);
  }

  35% {
    background-color: rgb(145, 255, 0);
  }

  40% {
    background-color: rgb(115, 255, 0);
  }

  45% {
    background-color: rgb(0, 255, 13);
  }

  50% {
    background-color: rgb(0, 255, 170);
  }

  55% {
    background-color: rgb(0, 255, 200);
  }

  60% {
    background-color: rgb(0, 132, 255);
  }

  65% {
    background-color: rgb(0, 119, 255);
  }

  70% {
    background-color: rgb(38, 0, 255);
  }

  75% {
    background-color: rgb(76, 0, 255);
  }

  80% {
    background-color: rgb(140, 0, 255);
  }

  85% {
    background-color: rgb(247, 0, 255);
  }

  90% {
    background-color: rgb(255, 0, 76);
  }

  95% {
    background-color: rgb(255, 0, 0);
  }

  100% {
    background-color: rgb(255, 0, 0);
  }
}

.header {
  padding: 200px 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/Germany/germany_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  align-content: center;
  justify-content: center;
}

.inner_header .p {
  font-weight: 900;
}

.title {
  color: rgb(255, 255, 255);
  text-align: center;
  display: block;
  font-size: 60px;

}

.navbar {
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  background-color: rgb(199, 113, 2);
  border: 2px black solid;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

.navbar a.right {
  float: right;
}

.navbar a:hover {
  color: black;
  background-color: rgb(158, 69, 28);
}

.headline {
  font-size: 40px;
  text-align: center;
  padding: 25px;
}

.paragraph {
  flex-basis: 40%;
  order: 2;
  display: block;
  text-align: center;
}

.paragraph img {
  max-width: 100%;
  height: auto;
  border: 10px;
  border: 2px black solid;
}

.attrac_des {
  margin: 0 30%;
}

.attrac_des p {
  text-align: left;
  margin: 0;
}

.des a {
  color: white;
}

#map {
  width: 50px;
  height: 50px;
}

.text {
  font-size: 25px;
  margin: 15px 10%;
}

.texts {
  padding: 20px 0;
  color: white;
  font-size: 25px;
}

.bottom {
  display: block;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://media2.giphy.com/media/QSGAndw5onj51I5A0a/giphy.gif?cid=790b76115c04720c50fa827246757f8b28008de05f552bd9&rid=giphy.gif&ct=g);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 5%;
  padding-top: 5%;
}

.bottom .map {
  text-align: center;
}

.map .open {
  text-align: center;
  padding: 0 15%;
}


.bottom .Attractions {
  width: 100%;
  height: 100%;
  padding: 25px 0;
  color: white;
  border-bottom: 2px rgb(41, 82, 219) solid;
}

.bottom .Attraction_2 {
  width: 100%;
  height: 100%;
  padding: 25px 0;
  color: white;
  border-bottom: 2px rgb(41, 82, 219) solid;
}

.bottom .Attraction_3 {
  width: 100%;
  height: 100%;
  padding: 25px 0;
  color: white;
  border-bottom: 2px rgb(41, 82, 219) solid;
}

.bottom .Attraction_4 {
  width: 100%;
  height: 100%;
  padding: 25px 0;
  color: white;
  border-bottom: 2px rgb(41, 82, 219) solid;
}

.bottom .Attraction_5 {
  width: 100%;
  height: 100%;
  padding: 25px 0;
  color: white;
  border-bottom: 2px rgb(41, 82, 219) solid;
}

.bottom .Attraction_6 {
  width: 100%;
  height: 100%;
  padding: 25px 0;
  color: white;
  border-bottom: 2px rgb(41, 82, 219) solid;
}

.bottom .Attraction_7 {
  width: 100%;
  height: 100%;
  padding: 25px 0;
  color: white;
  border-bottom: 2px rgb(41, 82, 219) solid;
}

.bottom .Attraction_8 {
  width: 100%;
  height: 100%;
  padding: 25px 0;
  color: white;
  border-bottom: 2px rgb(41, 82, 219) solid;
}

.bottom .Attraction_9 {
  width: 100%;
  height: 100%;
  padding: 25px 0;
  color: white;
  border-bottom: 2px rgb(41, 82, 219) solid;
}


.bottom .Attraction_10 {
  width: 100%;
  height: 100%;
  padding: 25px 0;
  color: white;
  border-bottom: 2px rgb(41, 82, 219) solid;
}

.bottom .Attraction_11 {
  width: 100%;
  height: 100%;
  padding: 25px 0;
  color: white;
}


.footer {
  font-family: 'Montserrat', sans-serif;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(255, 217, 0);
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 2% 0;
}

.footer .navigation {
  display: grid;
  margin: 0 45%;
}

.navigation p {
  text-decoration: underline;
}

a:hover {
  color: white;
}

a {
  color: black;
}

.sig {
  position: absolute;
  font-size: 12px;
}