* {
    margin: 0;
    padding: 0;    
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

.name{
    color:black;
    font-size: 60px;
    line-height: 60px;
   
}

.lastname{
    font-size: 40px;
    line-height: 40px;
    
}

.introduce{
    font-size: 28px;
   padding-left: 20px;
  
}

.introduce2{
    font-size: 28px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.contact{
    font-size: 25px;
    line-height: 20px;
    line-height: 23px;
    
}

.contact img {
    border-radius:50% ;
    width:25px;
    height: 25px;
}

.skills img {
    border-radius:50%;
    width:20px;height:20px;
}

a.button{
    color: black;
   font-size: 20px;
  }